<td><%= index.to_i + 1 %></td>
<td><%= crew.name %></td>
<td><%= crew.native_name %></td>
<td><%= crew_leads crew %></td>
<td><%= crew_emails crew %></td>
<td><%= totals crew %></td>
<td>
  <div class="bt-actions">
    <%= show_participants_tag crew %>
    <%= download_tickets_tag crew %>
  </div>
</td>
