<h1>Crews:</h1>
<table class="table table-bordered table-striped table-hover table-condensed">
	<thead>
		<tr>
			<th class="span1">#</th>
			<th class="span2">Crew Name</th>
			<th class="span2">Native Name</th>
			<th class="span2">Captain</th>
			<th class="span2">Email</th>
			<th class="span2">Total (A/C/B)</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @crews.each.with_index do |crew, idx| %>
			<tr>
				<td class="bt-table-cell"><%= idx+1 %></td>
				<td class="bt-table-cell"><%= crew.name %></td>
				<td class="bt-table-cell"><%= crew.native_name %></td>
				<td class="bt-table-cell"><%= crew.captain %></td>
				<td class="bt-table-cell"><a href="mailto:<%= crew.email %>"><%= crew.email %></a></td>
				<td class="bt-table-cell bt-bold-cell">
					<%= "#{crew.count} (#{crew.adults}/#{crew.children}/#{crew.babies})" %>
				</td>
				<td class="bt-table-cell">
					<div class="bt-actions">
						<%= link_to image_tag('participants.png', alt: 'Participants', class: "bt-img bt-img-reduced"),
							participants_path(crew_id: crew), title: 'Show all participants in the crew', rel: 'tooltip' %>
						<%= link_to image_tag('new_participant.png', alt: 'Add Participant', class: "bt-img bt-img-reduced"),
							new_participant_path(crew_id: crew.id), title: 'Add a new participant', rel: 'tooltip' %>
						<%= link_to image_tag('ticket.png', alt: 'Generate ticket', class: "bt-img bt-img-reduced"),
							crew_tickets_path(crew_id: crew), title: 'Generate tickets for the crew', rel: 'tooltip' %>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
