<h1>Crews:</h1>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th class="span1">#</th>
			<th class="span3">Crew Name</th>
			<th class="span3">Native Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @crews.each.with_index do |crew, idx| %>
			<tr>
				<td><%= idx+1 %></td>
				<td><%= crew.name %></td>
				<td><%= crew.native_name %></td>
				<td>
					<div class="bt-actions">
						<%= link_to image_tag('participants.png', alt: 'Participants', class: "img-small"),
							participants_path(crew_id: crew.id), title: 'Show all participants in the crew', rel: 'tooltip' %>
						<%= link_to image_tag('new_participant.png', alt: 'Add Participant', class: "img-small"),
							new_participant_path(crew_id: crew.id), title: 'Add a new participant', rel: 'tooltip' %>
						<%= link_to image_tag('ticket.png', alt: 'Generate ticket', class: "img-small"), '#',
							title: 'Generate tickets for the crew', rel: 'tooltip' %>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
