= provide(:title, 'Checkin')
.shadowed-form
  = form_for :gate, url: checkin_ticket_path, html: { class: "form-horizontal well" } do |f|
    %fieldset
      %legend Check In

      .form-group
        = f.label :ticket_code, class: "control-label col-sm-3"
        .col-sm-5
          = f.text_field :ticket_code, autofocus: true, class: "form-control"
      %br
      .form-group
        .col-sm-offset-3.col-sm-7
          = f.submit "Register in Gate", class: "btn btn-lg btn-primary"
