- provide(:title, 'Home')
= render 'layouts/banner'

%h1 25th Blue Trolley Festival is coming!
%br
%p
  %strong When:
  Friday, June 11, 2021 3:00pm to Sunday, June 13, 2021.
  %br
  %strong Where:
  Deerpark Campground KOA (108 Guymard Turnpike, Cuddebackville NY, 12729).

%p
  Any questions? Please contact
  = link_to 'bluetrolleyclub@yahoo.com', "mailto:bluetrolleyclub@yahoo.com"

%p
  Join us on Facebook
  = link_to 'here', "https://www.facebook.com/groups/215693651825858/", target: 'blank'

%br
  = link_to "Register for NEW users", signup_path, class: "btn btn-primary btn-lg", disabled: true
  = link_to "Register for EXISTING users", signin_path, class: "btn btn-success btn-lg", disabled: true
  = link_to "Event announcement", announcement_path, target: '_blank', class: "btn btn-info btn-lg", disabled: true
