- provide(:title, 'Home')
= render 'layouts/banner'

%h1 32th Blue Trolley Festival is coming!
%br
%p
  %strong When:
  Friday, June 7, 2024 3:00pm to Sunday, June 9, 2024.
  %br
  %strong Where:
  Neversink River Resort, 108 Guymard Turnpike, Goddefroy NY, 12729

%p
  Any questions? Please contact
  = link_to 'bluetrolleyclub@yahoo.com', "mailto:bluetrolleyclub@yahoo.com"

%p
  Join us on Facebook
  = link_to 'here', "https://www.facebook.com/groups/215693651825858/", target: 'blank'

%br
  = link_to "Register for NEW users", signup_path, class: "btn btn-primary btn-lg"
  = link_to "Register for EXISTING users", signin_path, class: "btn btn-success btn-lg"
  = link_to "Event announcement", 'https://bluetrolley.org/32-%d0%b9-%d1%81%d0%bb%d1%91%d1%82-%d0%ba%d0%bb%d1%83%d0%b1%d0%b0-%d1%81%d0%b8%d0%bd%d0%b8%d0%b9-%d1%82%d1%80%d0%be%d0%bb%d0%bb%d0%b5%d0%b9%d0%b1%d1%83%d1%81/', target: '_blank', class: "btn btn-info btn-lg"
