- provide(:title, 'Home')
= render 'layouts/banner'

%h1 33th Blue Trolley Festival is coming!
%br
%p
  %strong When:
  Friday, September 20, 2024 3:00pm to Sunday, September 22, 2024.
  %br
  %strong Where:
  Neversink River Resort, 108 Guymard Turnpike, Goddefroy NY, 12729

%p
  Any questions? Please contact
  = link_to 'bluetrolleyclub@yahoo.com', "mailto:bluetrolleyclub@yahoo.com"

%p
  Join us on Facebook
  = link_to 'here', "https://www.facebook.com/groups/215693651825858/", target: 'blank'

%br
  = link_to "Register for NEW users", signup_path, class: "btn btn-primary btn-lg"
  = link_to "Register for EXISTING users", signin_path, class: "btn btn-success btn-lg"
  = link_to "Event announcement", 'https://bluetrolley.org/33-%D0%B9-%D1%81%D0%BB%D1%91%D1%82-%D0%BA%D0%BB%D1%83%D0%B1%D0%B0-%D1%81%D0%B8%D0%BD%D0%B8%D0%B9-%D1%82%D1%80%D0%BE%D0%BB%D0%BB%D0%B5%D0%B9%D0%B1%D1%83%D1%81-%D1%81%D0%B5%D0%BD%D1%82%D1%8F/', target: '_blank', class: "btn btn-info btn-lg"
