- provide(:title, 'Home')
= render 'layouts/banner'

%h1 30th Blue Trolley Festival is coming!
%br
%p
  %strong When:
  Friday, September 30, 2022 3:00pm to Sunday, October 2, 2022.
  %br
  %strong Where:
  Deerpark Campground KOA (108 Guymard Turnpike, Goddefroy NY, 12729).

%p
  Any questions? Please contact
  = link_to 'bluetrolleyclub@yahoo.com', "mailto:bluetrolleyclub@yahoo.com"

%p
  Join us on Facebook
  = link_to 'here', "https://www.facebook.com/groups/215693651825858/", target: 'blank'

%br
  = link_to "Register for NEW users", signup_path, class: "btn btn-primary btn-lg"
  = link_to "Register for EXISTING users", signin_path, class: "btn btn-success btn-lg"
  = link_to "Event announcement", 'https://bluetrolley.org/29slet/', target: '_blank', class: "btn btn-info btn-lg"
