- provide(:title, 'Home')
= render 'layouts/banner'

%h1 21th Blue Trolley Festival is coming!
%br
%p
  %strong When:
  Friday, September 14, 2018 3:00 pm to Sunday, September 16, 2018.
  %br
  %strong Where:
  Deerpark Campground KOA (100 miles from NYC).

%p
  Any questions? Please contact
  = link_to 'bluetrolleyclub@yahoo.com', "mailto:bluetrolleyclub@yahoo.com"

%p
  Join us on Facebook
  = link_to 'here', "https://www.facebook.com/groups/215693651825858/", target: 'blank'

%br
  = link_to "Register for NEW users", signup_path, class: "btn btn-primary btn-lg"
  = link_to "Register for EXISTING users", signin_path, class: "btn btn-success btn-lg"
  = link_to "Event announcement", announcement_path, target: '_blank', class: "btn btn-info btn-lg"
