%h3 Blue Trolley Statistics
%table.table.table-striped.table-bordered.shadowed-form
  %thead
    %tr
      %th
      %th.span3 Registered
      %th.span3 On Site

  %tbody
    %tr
      %td.bt-stats Adults:
      %td.bt-stats.bt-registered= link_to Statistics.adults_registered, adults_participants_path
      %td.bt-stats.bt-onsite= link_to Statistics.adults_onsite, adults_onsite_participants_path

    %tr
      %td.bt-stats Children:
      %td.bt-stats.bt-registered= link_to Statistics.children_registered, children_participants_path
      %td.bt-stats.bt-onsite= link_to Statistics.children_onsite, children_onsite_participants_path

    %tr
      %td.bt-stats Babies
      %td.bt-stats.bt-registered= link_to Statistics.babies_registered, babies_participants_path
      %td.bt-stats.bt-onsite= link_to Statistics.babies_onsite, babies_onsite_participants_path

    %tr
      %td.bt-stats Total Participants
      %td.bt-stats.bt-total.bt-registered= link_to Statistics.participants_registered, total_registered_participants_path
      %td.bt-stats.bt-total.bt-onsite= link_to Statistics.participants_onsite, total_onsite_participants_path

    %tr
      %td.bt-stats Flagged:
      %td.bt-stats.bt-registered
      %td.bt-stats.bt-onsite= link_to Statistics.flagged, flagged_participants_path

    %tr
      %td.bt-stats Expected:
      %td.bt-stats.bt-registered= link_to Statistics.expected, expected_participants_path
      %td.bt-stats.bt-onsite
