%h3 Blue Trolley Statistics
%table.table.table-striped.table-bordered.shadowed-form
  %thead
    %tr
      %th
      %th.bt-col-3 Registered
      %th.bt-col-3 Paid
      %th.bt-col-3 On Site

  %tbody
    %tr
      %td Adults:
      %td.bt-registered= @stats.adults_registered
      %td= @stats.adults_paid
      %td.bt-onsite= @stats.adults_onsite

    %tr
      %td Children:
      %td.bt-registered= @stats.children_registered
      %td= @stats.children_paid
      %td.bt-onsite= @stats.children_onsite

    %tr
      %td Babies:
      %td.bt-registered= @stats.babies_registered
      %td= @stats.babies_paid
      %td.bt-onsite= @stats.babies_onsite

    %tr
      %th Total Participants:
      %td.bt-total.bt-registered= @stats.participants_registered
      %td.bt-total= @stats.participants_paid
      %td.bt-total.bt-onsite= @stats.participants_onsite

    %tr
      %td Flagged:
      %td.bt-registered
      %td
      %td.bt-onsite= link_to @stats.flagged, flagged_participants_path

    %tr
      %td Expected:
      %td
      %td
      %td.bt-registered= @stats.expected
