<h1>Blue Trolley Fall 2013 Statistics</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th class="span3">Registered</th>
      <th class="span3">On Site</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="bt-stats">Adults:</td>
      <td class="bt-stats bt-registered"><%= Statistics.adults_registered %></td>
      <td class="bt-stats bt-onsite"><%= Statistics.adults_onsite %></td>
    </tr>
    <tr>
      <td class="bt-stats">Children:</td>
      <td class="bt-stats bt-registered"><%= Statistics.children_registered %></td>
      <td class="bt-stats bt-onsite"><%= Statistics.children_onsite %></td>
    </tr>
    <tr>
      <td class="bt-stats">Babies:</td>
      <td class="bt-stats bt-registered"><%= Statistics.babies_registered %></td>
      <td class="bt-stats bt-onsite"><%= Statistics.babies_onsite %></td>
    </tr>
    <tr>
      <td class="bt-stats">Total Participants</td>
      <td class="bt-stats bt-total bt-registered"><%= Statistics.participants_registered %></td>
      <td class="bt-stats bt-total bt-onsite"><%= Statistics.participants_onsite %></td>
    </tr>
  </tbody>
</table>
