#payment.modal.fade{ tabindex: '-1', role: 'dialog' }
  .modal-dialog
    .modal-content
      = form_for(:payment, url: send_payment_path(id: @user), method: :put, html: { class: "form-horizontal" }) do |f|
        = f.hidden_field :payee, id: 'payee_id'

        .modal-header
          %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: 'true' }} ×
          %h4.modal-title Send payment notification.

        .modal-body
          .panel.panel-primary
            .panel-heading Participants to pay for:
            
            %ul.list-group
              - @user.participants.select { |p| p.approved? && p.unpaid? }.each do |participant|
                %li.list-group-item
                  = image_tag('approved.png', class: "bt-img-reduced")
                  &nbsp;
                  = participant.full_name

          .form-group
            = f.label 'Payment method', class: "control-label col-sm-4"
            .col-sm-8.bt-payment-type
              %label
                = f.radio_button :payment_type, PaymentType::CHECK
                Check
              %label
                = f.radio_button :payment_type, PaymentType::CASH
                Cash
              %label
                = f.radio_button :payment_type, PaymentType::OTHER, checked: true
                Other

          .form-group
            = f.label :amount, 'Payment amount', class: "control-label col-sm-4"
            .col-sm-3
              = f.text_field :amount, class: "form-control"

          .form-group
            = f.label :notes, class: "control-label col-sm-4"
            .col-sm-7.bt-payment-notes
              = f.text_area :notes, class: "form-control", rows: 6

        .modal-footer
          = f.submit 'Send payment info', class: "btn btn-default"
