<div id="payment" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_for(:payment, url: send_payment_path(id: @user), method: :put,
        html: { class: "form-horizontal" }) do |f| %>
        <%= f.hidden_field :payee, id: 'payee_id' %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Send payment notification.</h4>
        </div>

        <div class="modal-body">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Participants to pay for:
            </div>
            <ul class="list-group">
              <% @user.participants.select { |p| p.approved? && p.unpaid? }.each do |participant| %>
                <li class="list-group-item"><%= image_tag('approved.png', class: "bt-img-reduced") %>&nbsp;
                  <%= participant.full_name %></li>
              <% end %>
            </ul>
          </div>

          <div class="form-group">
            <%= f.label 'Payment method', class: "control-label col-sm-4" %>
            <div class="col-sm-8 bt-payment-type">
                <label><%= f.radio_button :payment_type, PaymentType::PAYPAL, checked: true %>Pay Pal</label>
                <label><%= f.radio_button :payment_type, PaymentType::CHECK %>Check</label>
                <label><%= f.radio_button :payment_type, PaymentType::CASH %>Cash</label>
                <label><%= f.radio_button :payment_type, PaymentType::OTHER %>Other</label>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :amount, 'Payment amount', class: "control-label col-sm-4" %>
            <div class="col-sm-3">
              <%= f.text_field :amount, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :notes, class: "control-label col-sm-4" %>
            <div class="col-sm-7 bt-payment-notes">
              <%= f.text_area :notes, class: "form-control", rows: 6 %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <%= f.submit 'Send payment info', class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
