<%= provide(:title, "Change Password") %>
<div class="shadowed-form">
  <%= form_for(@user, url: change_password_path(id: @user.id), method: :put, html: { class: "form-horizontal well" }) do |f| %>
    <fieldset>
      <legend>Change your password</legend>
      <%= render 'shared/error_messages', errors: @user.errors, entity_name: 'user account'  %>

      <div class="form-group">
        <%= f.label :email, class: "control-label col-sm-3" %>
        <div class="col-sm-5">
          <%= f.email_field :email, class: "form-control", readonly: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "control-label col-sm-3" %>
        <div class="col-sm-5">
          <%= f.password_field :password, class: "form-control", maxlength: 16, autofocus: true, required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "control-label col-sm-3" %>
        <div class="col-sm-5">
          <%= f.password_field :password_confirmation, class: "form-control", maxlength: 16, required: true %>
        </div>
      </div>

      <br />
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <%= f.submit 'Change password', class: "btn btn-primary btn-lg" %>
          <%= link_to 'Cancel', signin_path, class: "btn btn-default btn-lg" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
