- provide :view, :profile
- provide :title, @user.name

- unless current_user.activated?
  .alert.alert-danger.alert-dismissable{ role: 'alert' }
    %button.close{ type: 'button', data: { dismiss: 'alert' }}
      %span &times;
    You account is not activated
    %p
      %small
        Please verify your email address. You should receive the email with activation link.
        Please click the link to activate your Blue Trolley account.

.ibox.float-e-margins
  = render 'shared/panel_header', title: 'My Family', subtitle: 'may contain family members, friends, and all persons belong to the user account'

  .ibox-content
    = render 'participants/table'

    - if @user.activated?
      = link_to new_participant_path(user_id: @user.id), class: 'btn btn-primary' do
        %i.fa.fa-user-plus
        New Participant
      &nbsp;
      = link_to events_path, class: 'btn btn-success' do
        %i.fa.fa-calendar-check-o
        My Events

    - else
      = link_to 'Resend Activation Email', new_account_activation_path, class: 'btn btn-warning', title: 'Click here to resend account activation email'



-#= render 'account_details'
-#= render 'crew_selector'
-#= render 'payment'

  -#= link_to 'Select crew', '#', class: "btn btn-primary", data: { toggle: 'modal', target: "#crew-selector" },
    style: visible_unless { @user.participants.any? { |p| p.approved? }}

  -#= link_to 'Payments', '#', class: "btn btn-info", data: { toggle: 'modal', target: "#payment" },
    style: visible_if { !@user.crew.blank? && @user.active? && @user.participants.any? { |p| p.approved? && p.unpaid? }}

  -#= link_to 'Download my tickets', user_tickets_download_path(@user), method: :post, class: "btn btn-info",
    style: visible_if { @user.participants.any? { |p| p.payment_confirmed? }}

  -#= link_to 'Change password', '#', class: "btn btn-warning", style: visible_if { false }
