<% provide(:title, @user.name) %>
<%= render 'account_details' %>
<%= render 'crew_selector' %>

<h4>Registered Participants</h4>
<div class="shadowed-form">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="col-sm-1">#</th>
        <th class="col-sm-5">Name</th>
        <th class="col-sm-4">Email</th>
        <th class="col-sm-1">Age</th>
        <th class="col-sm-1">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @user.participants.each.with_index do |participant, idx| %>
        <%= render 'shared/participant', participant: participant, index: idx %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Register new participant', new_participant_path(user_account_id: @user.id, crew_id: @user.crew),
  class: "btn btn-primary" %>
<%= link_to 'Select Crew', '#', class: "btn btn-primary", data: { toggle: "modal", target: "#crew-selector" } %>
<%= link_to 'Download my tickets', '#', class: "btn btn-info", disabled: true %>
<%= link_to 'Change password', '#', class: "btn btn-warning" %>
