<%= provide(:title, "Sign in") %>
<div class="shadowed-form">
  <%= form_for(:session, url: sessions_path, html: { class: "form-horizontal well" }) do |f| %>
    <fieldset>
      <legend>Sign in</legend>

      <div class="form-group">
        <%= f.label :login, 'Login or Email', class: "control-label col-sm-3" %>
        <div class="col-sm-4">
          <%= f.text_field :login, class: "form-control", maxlength: 64 %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "control-label col-sm-3" %>
        <div class="col-sm-4">
          <%= f.password_field :password, class: "form-control", maxlength: 16 %>
        </div>
      </div>

      <br />
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <%= f.submit "Sign in", class: "btn btn-primary btn-lg" %>
          <%= link_to "Register new", new_user_account_path, class: "btn btn-success btn-lg" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
