= provide(:title, "Sign in")
.shadowed-form
  = form_for(:session, url: sessions_path, html: { class: "form-horizontal well" }) do |f|
    %fieldset
      %legend Sign in

      .form-group
        = f.label :login, 'Login or Email', class: "control-label col-sm-3"
        .col-sm-4
          = f.text_field :login, class: "form-control", maxlength: 64, autofocus: true, required: true

      .form-group
        = f.label :password, class: "control-label col-sm-3"
        .col-sm-4
          = f.password_field :password, class: "form-control", maxlength: 16, required: true

      %br
      .form-group
        .col-sm-offset-3.col-sm-7
          = f.submit "Sign in", class: "btn btn-primary"
          = link_to "Register new", signup_path, class: "btn btn-info"
          = link_to "Can't access?", cant_access_path, class: "btn btn-warning"
