= provide(:title, "Login")
.middle-box.text-center.loginscreen{ class: animated_form_class }
  = image_tag 'tarakan.png'

  %h3 Welcome to BLUE TROLLEY Club
  = form_for(:session, url: sessions_path, html: { id: 'new_session', class: 'm-t', role: 'form' }) do |f|
    .form-group
      = f.text_field :login, placeholder: "User login or email address", maxlength: 64, autofocus: true, class: 'form-control'

    .form-group
      = f.password_field :password, placeholder: 'Password', maxlength: 16, class: 'form-control'

    .checkbox.checkbox-success
      = f.check_box :remember_me
      %label{ for: 'session_remember_me' } Remember me on this computer

    = f.submit 'Login', class: 'btn btn-primary block full-width m-b'
    = link_to 'Forgot password?', cant_access_path

    %br
    %br
    %p.text-muted.text-center
      %small Do not have an account?
    = link_to 'Create an account', signup_path, class: 'btn btn-sm btn-white btn-block'

  %p.m-t
    %small Blue Trolley Club &copy; 2009-2016


- if has_validation_errors?
  :coffeescript
    $(document).ready ->
      fv = $('#new_session').data 'formValidation'
      fv.updateMessage 'session[login]', 'blank', "#{flash_error_message}"
      fv.updateStatus 'session[login]', 'INVALID', 'blank'
