%section#contact.gray-section.contact
  .container
    .row.m-b-lg
      .col-lg-12.text-center
        .navy-line
        %h1 Contact Us

    .row.m-b-lg
      .col-lg-3.col-lg-offset-3
        %address
          %strong
            %span.navy Delaware Water Gap KOA Campground
          %br
          227 Hollow Road
          %br
          East Stroudsburg, PA 18302
          %br
          %strong= link_to 'Get Google Directions', direction_to_koa, target: '_blank'

    .row
      .col-lg-12.text-center
        = link_to 'Send us email', blue_trolley_email, class: 'btn btn-primary'
        %p.m-t-sm Or follow us on social platform
        %ul.list-inline.social-icon
          %li
            = link_to '#', target: '_blank' do
              %i.fa.fa-twitter
          %li
            = link_to blue_trolley_facebook, target: '_blank' do
              %i.fa.fa-facebook
          %li
            = link_to '#', target: '_blank' do
              %i.fa.fa-linkedin

      .row
        .col-lg-8.col-lg-offset-2.text-center.m-t-lg.m-b-lg
          %p
            %strong &copy; 2009-2016 Blue Trolley Club
            %br
