%section#team.team
  .container
    .row.m-b-lg
      .col-lg-12.text-center
        .navy-line
        %h1 Our Conductors
    .row
      .col-sm-4.wow.animated.fadeInLeft
        .team-member
          = render 'conductor', name: 'Marina Gurevich', avatar: 'marina_gurevich', title: 'Coordinator',
            email: 'marina_gur@yahoo.com'

      .col-sm-4.wow.animated.rotateIn
        .team-member
          = render 'conductor', name: 'Alex Shaykevich', avatar: 'mister_fix', title: 'Zavhoz',
            facebook: 'https://www.facebook.com/aleksandr.shaykevich', email: 'alexshayk@yahoo.com'

      .col-sm-4.wow.animated.fadeInRight
        .team-member
          = render 'conductor', name: 'Rita Yeliseyev', avatar: 'rita_yeliseyev', title: 'Financier',
            email: 'ryeliseyev@gmail.com'

    %br
    .row
      .col-sm-3.wow.animated.fadeInLeft
        .team-member
          = render 'conductor', name: 'Yelena Postolova', avatar: 'elena_postolova',
            facebook: 'https://www.facebook.com/yelena.postolova'

      .col-sm-3.wow.animated.fadeInUp
        .team-member
          = render 'conductor', name: 'Len Kaplan', avatar: 'len_kaplan',
            facebook: 'https://www.facebook.com/len.kaplan'

      .col-sm-3.wow.animated.fadeInUp
        .team-member
          = render 'conductor', name: 'Lana Kaplan', avatar: 'lana_kaplan'

      .col-sm-3.wow.animated.fadeInRight
        .team-member
          = render 'conductor', name: 'Anna Grinberg', avatar: 'anna_grinberg',
            facebook: 'https://www.facebook.com/profile.php?id=100007447846798'
