<%= form_for(@participant, html: { class: "form-horizontal well" }) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation" class="alert alert-block alert-error">
      <a class="close">×</a>
      <strong><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</strong>
      <ul>
      <% @participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= form_header %></legend>

    <div class="field control-group">
      <%= f.label :crew, class: "control-label" %>
      <div class="controls">
        <%= collection_select :participant, :crew_id, all_crews, :id, :name, include_blank: true %>
      </div>
    </div>

    <div class="field control-group">
      <%= f.label :last_name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :last_name, class: "input-xlarge" %>
      </div>
    </div>

    <div class="field control-group">
      <%= f.label :first_name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :first_name, class: "input-xlarge" %>
      </div>
    </div>

    <div class="field control-group">
      <%= f.label :email, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email, class: "input-xlarge" %>
      </div>
    </div>

    <div class="field control-group">
      <%= f.label 'Age Category', class: "control-label" %>
      <div class="controls">
        <div class="radio">
          <%= f.radio_button :child, '0' %>
          <%= f.label 'Adult'%>
        </div>
        <div class="radio">
          <%= f.radio_button :child, '1' %>
          <%= f.label 'Child'%>
        </div>
        <div class="radio">
          <%= f.radio_button :child, '2' %>
          <%= f.label 'Baby'%>
        </div>
      </div>
    </div>

    <div class="actions form-actions">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", redirect_by_cancel, class: "btn" %>
    </div>
  </fieldset>
<% end %>
