.ibox.float-e-margins
  .ibox-title
    %h5
      New Participant&nbsp;
      %small Can be family member, friend, or any person belong to the account
    .ibox-tools
      %a.collapse-link
        %i.fa.fa-chevron-up
      %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' }}
        %i.fa.fa-wrench
      %ul.dropdown-menu.dropdown-user
        %li= link_to 'Config option 1', '#'
        %li= link_to 'Config option 1', '#'
      %a.close-link
        %i.fa.fa-times

  .ibox-content
    .row
      .col-sm-6.b-r
        = form_for(@participant, html: { role: 'form' }) do |f|
          = f.hidden_field :user_account_id

          .form-group
            = f.label :last_name
            = f.text_field :last_name, class: 'form-control', autofocus: true, placeholder: 'Last name'

          .form-group
            = f.label :first_name
            = f.text_field :first_name, class: 'form-control', placeholder: 'First name'

          .form-group
            = f.label 'Age Category', style: 'margin-bottom: 0;'
            .radio.radio-info
              = f.radio_button :age_category, :adult
              %label{ for: 'participant_age_category_adult' } Adult

            .radio.radio-info
              = f.radio_button :age_category, :child
              %label{ for: 'participant_age_category_child' } Child (more than 6 years)

            .radio.radio-info
              = f.radio_button :age_category, :baby
              %label{ for: 'participant_age_category_baby' } Child (0 - 6 years)

          .form-group
            = f.label :age, 'Age (under 16 only)'
            = f.text_field :age, class: 'form-control', maxlength: 2, style: 'max-width: 80px;'

          .form-group
            = f.label :email
            = f.email_field :email, class: 'form-control', placeholder: 'Email address'

          .form-group
            = f.label :cell_phone, 'Phone'
            = f.text_field :cell_phone, class: 'form-control', style: 'max-width: 160px;', placeholder: 'Phone number'

          .form-group
            = f.label :address, 'Address'
            = f.text_area :address, class: 'form-control', rows: 5, placeholder: 'Home address'

          %br
          .pull-right
            = f.submit class: 'btn btn-primary m-t-n-xs'
            &nbsp;
            = link_to "Cancel", @participant.user_account, class: 'btn btn-default m-t-n-xs'
