<div class="shadowed-form">
  <%= form_for(@participant, html: { class: "form-horizontal well" }) do |f| %>

    <fieldset>
      <legend><%= form_header %></legend>
      <%= render 'shared/error_messages', errors: @participant.errors, entity_name: 'participant' %>
      <%= f.hidden_field :user_account_id %>

      <div class="form-group">
        <%= f.label :crew, class: "control-label col-sm-3" %>
        <div class="col-sm-5">
          <%= collection_select :participant, :crew_id, all_crews, :id, :name,
            { include_blank: true }, { class: "form-control" } %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :last_name, class: "control-label col-sm-3" %>
        <div class="col-sm-5">
          <%= f.text_field :last_name, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :first_name, class: "control-label col-sm-3" %>
        <div class="col-sm-5">
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Age Category', class: "control-label col-sm-3" %>
        <div class="col-sm-5">
          <div class="radio">
            <label><%= f.radio_button :age_category, AgeCategory::ADULT %>Adult<label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :age_category, AgeCategory::CHILD %>Child (more than 9 years)</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :age_category, AgeCategory::BABY %>Child (0 - 9 years)</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :age, class: "control-label col-sm-3" %>
        <div class="col-sm-2">
          <%= f.text_field :age, class: "form-control", maxlength: 3 %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "control-label col-sm-3" %>
        <div class="col-sm-5">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :cell_phone, 'Phone', class: "control-label col-sm-3" %>
        <div class="col-sm-3">
          <%= f.text_field :cell_phone, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :address_line_1, 'Address', class: "control-label col-sm-3" %>
        <div class="col-sm-5">
          <%= f.text_area :address_line_1, class: "form-control", rows: 6 %>
        </div>
      </div>

      <br />
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <%= f.submit class: "btn btn-primary btn-lg" %>
          <%= link_to "Cancel", user_account_path(@participant.user_account), class: "btn btn-lg btn-default" %>
        </div>
      </div>

    </fieldset>
  <% end %>
</div>
