.shadowed-form
  = form_for(@participant, html: { class: "form-horizontal well" }) do |f|
    %fieldset
      %legend= form_header
      = render 'shared/error_messages', errors: @participant.errors, entity_name: 'participant'
      = f.hidden_field :user_account_id
      = f.hidden_field :requested_crew_id

      .form-group
        = f.label :last_name, 'Last name (*)', class: 'control-label col-sm-3'
        .col-sm-5
          = f.text_field :last_name, class: 'form-control', autofocus: true

      .form-group
        = f.label :first_name, 'First name (*)', class: 'control-label col-sm-3'
        .col-sm-5
          = f.text_field :first_name, class: 'form-control'

      .form-group
        = f.label 'Age Category', class: "control-label col-sm-3"
        .col-sm-5
          .radio
            %label
              = f.radio_button :age_category, AgeCategory::ADULT
              Adult

          .radio
            %label
              = f.radio_button :age_category, AgeCategory::CHILD
              Child (3 - 16 years)

          .radio
            %label
              = f.radio_button :age_category, AgeCategory::BABY
              Baby (under 3 years)

      .form-group
        = f.label :age, 'Age (under 16 only)', class: "control-label col-sm-3"
        .col-sm-2
          = f.text_field :age, class: "form-control", maxlength: 2

      .form-group
        = f.label :email, class: "control-label col-sm-3"
        .col-sm-5
          = f.email_field :email, class: "form-control"

      .form-group
        = f.label :cell_phone, 'Phone', class: "control-label col-sm-3"
        .col-sm-3
          = f.text_field :cell_phone, class: "form-control"

      .form-group
        = f.label :address, 'Address', class: "control-label col-sm-3"
        .col-sm-5
          = f.text_area :address, class: "form-control", rows: 6

      %br
      .form-group
        .col-sm-offset-3.col-sm-7
          = f.submit class: "btn btn-primary"
          = link_to "Cancel", cancel_add_participant_path(@participant), class: "btn btn-default"
