%tr{ id: "participant_#{participant.id.to_s}" }
  %td
  %td
    = participant.full_name
    - if participant.baby?
      %i.fa.fa-child
  %td= link_to participant.email, "mailto:#{participant.email}"
  %td= age_category participant

  %td
    = link_to edit_participant_path(participant), title: "Click here to edit #{participant.display_name} profile" do
      %i.fa.fa-edit.fa-lg{ style: 'margin-right: 2px;' }
    = link_to participant_path(participant), method: :delete, title: "Click here to delete #{participant.display_name}",
      data: { confirm: "Are you sure to delete #{participant.display_name} from the participants list?" } do
      %i.fa.fa-trash-o.fa-lg
