<% provide(:crew_id, @crew.id.to_s) %>
<h1><%= "#{@crew.name} (#{@crew.native_name})" %></h1>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th class="span1">#</th>
			<th class="span4">Name</th>
			<th class="span3">Email</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @participants.each.with_index do |participant, idx| %>
			<tr>
				<td><%= idx+1 %></td>
				<td><%= participant.full_name %></td>
				<td><%= participant.email %></td>
				<td>
					<div>
						<%= link_to image_tag('edit_participant.png', alt: 'Edit Participant', class: "img-small"),
							edit_participant_path(participant), title: "Edit participant properties", rel: 'tooltip' %>
						<%= link_to image_tag('delete_participant.png', alt: 'Delete Participant', class: "img-small"),
							participant_path(participant), method: :delete, title: "Delete the participant", rel: 'tooltip',
							data: { confirm: "Are you sure to delete the participant?" } %>
						<%= link_to image_tag('ticket.png', alt: 'Generate ticket', class: "img-small"), '#',
							title: 'Generate the ticket for the participant', rel: 'tooltip' %>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
