<td><%= index.to_i + 1 %>
  <%= image_tag(participant.approved? ? 'approved.png' : 'not_approved.png', class: "bt-img-reduced") %>
  <%= image_tag('money.png', class: "bt-img-reduced") if participant.payment_confirmed? %>
</td>
<td><%= participant.full_name %><%= crew_lead_image participant %><%= baby_image participant %></td>
<td><%= link_to participant.email, "mailto:#{participant.email}" %></td>
<% if show_crew %>
  <td><%= participant.crew.name %></td>
<% end %>
<td><%= age_category participant %></td>
<td><%= participant.status %></td>
<td>
  <div>
    <%= edit_tag participant %>
    <%= delete_tag participant %>
    <%= download_ticket_tag participant %>
    <%= send_ticket_link_tag participant %>
    <%= send_payment_tag participant %>
    <%= approve_tag participant, index %>
    <%= confirm_payment_tag participant, index %>
  </div>
</td>
