.col-lg-6
  .widget.p-x1{ class: background_class_of(event) }
    %h2= event.name
    %ul.list-unstyled.m-t-md
      %li
        %span.fa.fa-calendar.m-r-xs
        %label When:&nbsp;
        = event.started_on
      %li
        %span.fa.fa-home.m-r-xs
        %label Address:&nbsp;
        = event.address

    - if remained_participants_for(event).any?
      = link_to 'Register', '#', class: 'btn btn-success', data: { toggle: 'modal', target: "#event_#{event.id}_participants_selector" }, title: 'Click here to register to this event'
      &nbsp;
    = link_to 'My Participants', event, class: 'btn btn-success', title: 'Click here to see event participants'
    - if current_user.admin?
      = link_to event_path(event), method: :delete, title: 'Click here to delete event',
        data: { confirm: "Are you sure to delete '#{event.name}' event?" } do
        %i.fa.fa-trash-o.fa-lg.fa-pull-right{ style: 'margin-top: 20px;' }
      = link_to edit_event_path(event), title: 'Click here to edit event properties' do
        %i.fa.fa-edit.fa-lg.fa-pull-right{ style: 'margin-top: 21px;' }
      = link_to event_event_crews_path(event), title: 'Click here to manage crews at the event' do
        %i.fa.fa-users.fa-lg.fa-pull-right{ style: 'margin-top: 20px;' }

= render 'event_participants/selector', event: event
