.col-lg-6
  .widget.p-x1{ class: background }
    %h2
      = event.name
    %ul.list-unstyled.m-t-md
      %li
        %span.fa.fa-calendar.m-r-xs
        %label When:&nbsp;
        = event.started_on
      %li
        %span.fa.fa-home.m-r-xs
        %label Address:&nbsp;
        = event.address

    = link_to 'Register', '#', class: 'btn btn-success', data: { toggle: 'modal', target: "#register_participant_to_#{event.id}" }, title: 'Click here to register to this event'
    &nbsp;
    = link_to 'My Participants', '#', class: 'btn btn-success', title: 'Click here to see event participants'
    -# if current_user.admin?
    = link_to event_path(event), method: :delete, title: 'Click here to delete event',
      data: { confirm: "Are you sure to delete '#{event.name}' event?" } do
      %i.fa.fa-trash-o.fa-lg.fa-pull-right{ style: 'margin-top: 20px;' }
    = link_to edit_event_path(event), title: 'Click here to edit event properties' do
      %i.fa.fa-edit.fa-lg.fa-pull-right{ style: 'margin-top: 21px;' }
    = link_to event_event_crews_path(event), title: 'Click here to manage crews at the event' do
      %i.fa.fa-users.fa-lg.fa-pull-right{ style: 'margin-top: 20px;' }


.modal.inmodal{ id: "register_participant_to_#{event.id}", role: 'dialog', data: { backdrop: 'static' }}
  .modal-dialog
    .modal-content.animated.fadeInDown
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' }}
          %span &times;
          %span.sr-only
        %i.fa.fa-calendar.modal-icon
        %h4.modal-title= event.name
        %small.font-bold Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      .modal-body
      .modal-footer
        %button.btn.btn-white{ data: { dismiss: 'modal' }} Close
        %button.btn.btn-primary Save changes