%tr
  %td
  %td= event_crew.name
  %td= event_crew.native_name
  %td= event_crew.leads.first
  %td= event_crew.totals
  %td= event_crew.participants_paid_total
  %td
    = link_to event_event_crew_path(@event, event_crew), method: :delete, title: 'Click here to remove the crew from the event', data: { confirm: "Are you sure to remove '#{event_crew.name}' crew from the event?" } do
      %i.fa.fa-trash-o.fa-lg

    -#= show_participants_tag crew
    -#= download_tickets_tag crew
