%li.list-group-item
  .checkbox.checkbox-success{ style: 'margin-top: 0; margin-bottom: 0' }
    = form.check_box participant.id, id: "event_#{event.id}_participant_#{participant.id}"
    %label{ for: "event_#{event.id}_participant_#{participant.id}" }= "#{participant.display_name}"
