<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Blue Trolley", '#', id: 'logo' %>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Crews", crews_path %></li>
          <li><%= link_to "New Participant", new_participant_path(crew_id: yield(:crew_id)) %></li>
          <li><%= link_to "Check In", checkin_path %></li>
          <li><%= link_to "Statistics", statistics_path %></li>
          <li><%= link_to "Upload Data", upload_path %></li>
        </ul>
        <%= form_for(:search, url: search_path, html: { class: "navbar-search pull-left" }) do |f| %>
          <%= f.text_field '', class: "search-query span2", placeholder: 'Search' %>
        <% end %>
        <ul class="nav pull-right">
          <li><%= link_to "Sign In", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
