%nav.navbar-default.navbar-static-side{ role: 'navigation' }
  .sidebar-collapse
    %ul.nav.metismenu#side-menu
      %li.nav-header{ style: 'margin-top: 2px;' }
        .dropdown.profile-element
          %span= gravatar_for current_user
          %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' }}
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold
                  = current_user.name
              %span.text-muted.text-xs.block
                = current_user.email
                %b.caret

          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li= link_to 'Profile', current_user
            %li.divider
            %li= link_to 'Logout', logout_path

        .logo-element BT

      %li.active
        = link_to '#' do
          %i.fa.fa-edit
          %span.nav-label My Profile

      %li
        = link_to '#' do
          %i.fa.fa-calendar
          %span.nav-label Events

      %li
        = link_to '#' do
          %i.fa.fa-user
          %span.nav-label User Accounts

      %li
        = link_to '#' do
          %i.fa.fa-group
          %span.nav-label Crews

      %li
        = link_to '#' do
          %i.fa.fa-cogs
          %span.nav-label Administration

      %li
        = link_to '#' do
          %i.fa.fa-download
          %span.nav-label Export Data
